.registration-menu
  .registration-menu__header
    = link_to image_tag('Edit Master.png',size: "220x100"), root_path
  .registration-menu__triangle
  .registration-menu__top 新規登録
  .registration-menu__container
    .registration-menu__sns
      .registration-menu__google
        = link_to image_tag('google.png',size: "60x50"), user_google_oauth2_omniauth_authorize_path, method: :post
      .registration-menu__twitter
        = link_to image_tag('Twitter_Social_Icon_Rounded_Square_Color.png',size: "60x50"), "#"
    .registration-menu__inner OR
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .registration-menu__field
        %label ニックネーム
        %span 必須
        %br/
        = f.text_field :nickname, autofocus: true, autocomplete: "nickname", placeholder: "edit太郎", required: ""
      .registration-menu__field
        %label メールアドレス
        %span 必須
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "editmaster@edi.com", required: ""
      .registration-menu__field
        %label パスワード
        %span 必須
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "英数字を組み合わせた6文字以上", required: ""
      .registration-menu__btn
        = f.submit "登録する"
    .registration-menu__under  
      = render "devise/shared/links"
  