.wrapper
  = render partial: 'header'

  .article-content__main
    .article-content__main__left 
      = render partial: 'leftbar'
    .article-content__main__center 
      - @article.each do |article|
        .article-content__main__center__list
          .article-content__main__center__list__title
            %a{href: "/articles/#{article.id}"}
              = article.title
          .article-content__main__center__list__tagbox
            = render 'articles/tag_list', tag_list: article.tag_list
          .article-content__main__center__list__nickname
            %a{href: "/users/#{article.user.id}"}
              = "投稿者 " + article.user.nickname
          .article-content__main__center__list__datetime
            = time_ago_in_words(article.created_at)+"前"
    .article-content__main__right 
  .article-content__footer  
    = paginate @article