.post
  .post__header
    = render partial: 'header2'
  .post-content
  = form_for @article, method: :post do |f|
    .post-content__title
      = f.text_field :title, class: "form-control",placeholder: "タイトル", required: ""
    .post-content__tag
      = f.text_field :tag_list, value: @article.tag_list.join(','),"data-role": "tagsinput", class: "form-control",placeholder: "タグ"
    .post-content__url
      = f.text_field :youtube_url, class: "form-control",placeholder: "YouTubeのURL"
    .post-content__text
      = f.text_area :text, class: "form-control",placeholder: "内容", required: ""
    .post-content__footer
      =f.submit "投稿する", class: "btn btn-info"
      